name: Workflow
on:
  push:
    branches:
      - LR-Laboratorio-final

jobs:
  SAST:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '16'
    
    - name: Install dependecy
      run: npm install

    - name: Install SonarCloud Scanner
      run: |
        npm install -g sonarqube-scanner
    
    - name: Run SonarCloud analysis
      run: |
        sonar-scanner \
          -Dsonar.projectKey=LukasRL_Laboratorio-final \
          -Dsonar.organization=lukasrl \
          -Dsonar.host.url=https://sonarcloud.io \
          -Dsonar.login=${{ secrets.SONAR_TOKEN }}
