name: Workflow
on:
  push:
    branches:
      - LR-Laboratorio-final

jobs:
  SAST:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'
    
    # - name: Install dependecy
    #   run: npm install
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        distribution: 'adopt'
        java-version: '17'

    - name: Install SonarCloud Scanner locally
      run: npm install sonar-scanner --save-dev

    - name: Debug Environment Variables
      run: |
        echo "SONAR_TOKEN=${{ secrets.SONAR_TOKEN }}"
        echo "SONAR_PROJECT_KEY=LukasRL_Laboratorio-final"
        echo "SONAR_ORGANIZATION=lukasrl"
        echo "SONAR_HOST_URL=https://sonarcloud.io"
        echo "BRANCH_NAME=LR-Laboratorio-final"
    
    - name: Run SonarCloud analysis
      run: |
       npx sonar-scanner \
       -Dsonar.projectKey=LukasRL_Laboratorio-final \
       -Dsonar.organization=lukasrl \
       -Dsonar.sources=. \
       -Dsonar.host.url=https://sonarcloud.io \
       -Dsonar.login=${{ secrets.SONAR_TOKEN }} \
       -Dsonar.branch.name=LR-Laboratorio-final

    - name: Find report-task.txt
      run: |
        echo "Searching for report-task.txt..."
        find . -name "report-task.txt"

    - name: SonarQube Quality Gate Check
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      uses: SonarSource/sonarqube-quality-gate-action@v1.1.0
      with:
        scanMetadataReportFile: 'node_modules/sonar-scanner/.scannerwork/report-task.txt'
    
        # - name: SonarQube Quality Gate Check
    #   env:
    #     SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    #   uses: SonarSource/sonarqube-quality-gate-action@v1.1.0
    #   with:
    #      scanMetadataReportFile: build/sonar/report-task.txt